<%= form_for([@material, @raw_transaction]) do |f| %>
  <% if @raw_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@raw_transaction.errors.count, "error") %> prohibited this raw_transaction from being saved:</h2>

      <ul>
      <% @raw_transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :t_date %><br>
    <%= f.date_select :t_date %>
  </div>
  <div class="field">
      <p>Jenis Transaksi</p>
      <%= f.radio_button :t_type, 'tambah', :checked => true %>
      <%= label :t_type_tambah, 'tambah' %>
      <%= f.radio_button :t_type, 'kurang'%>
      <%= label :t_type_kurang, 'kurang' %>
    </div>
  <div class="field">
    <%= f.label :t_quantity %><br>
    <%= f.number_field :t_quantity %>
  </div>
  <div class="field">
    <%= f.label :t_total_price %><br>
    <%= f.text_field :t_total_price %>
  </div>
  <div class="field">
    <%= f.label :t_price_unit %><br>
    <%= f.text_field :t_price_unit %>
  </div>
  <div class="field">
    <%= f.label :t_supplier %><br>
    <%= f.text_field :t_supplier %>
  </div>

  <div class="field">
    <%= f.label :material %><br>

    <%= f.hidden_field :material_id, value: params[:material_id]%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
