<p id="notice"><%= notice %></p>

<p>
  <strong>T date:</strong>
  <%= @raw_transaction.t_date %>
</p>

<p>
  <strong>T type:</strong>
  <%= @raw_transaction.t_type %>
</p>

<p>
  <strong>T quantity:</strong>
  <%= @raw_transaction.t_quantity %>
</p>

<p>
  <strong>T total price:</strong>
  <%= @raw_transaction.t_total_price %>
</p>

<p>
  <strong>T price unit:</strong>
  <%= @raw_transaction.t_price_unit %>
</p>

<p>
  <strong>T supplier:</strong>
  <%= @raw_transaction.t_supplier %>
</p>

<p>
  <strong>Material id:</strong>
  <%= @raw_transaction.material_id %>
</p>

<%= link_to 'Edit', edit_material_raw_transaction_path(@material, @raw_transaction) %> |
<%= link_to 'Back', @material %>
